<div class="container">
<!-- Content here -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {{#times weekCount}}
        {{#iff ../currentWeek '==' (math this "+" 1)}}
          <li class="page-item">
            <a class="page-link" href="/users/userhome/ignite/week{{ math this "+" 1 }}" id="Week-1" onclick="tabPreview('Week',1);">Week {{ math this "+" 1 }}</a>
          </li>
        {{else}}
          <li class="page-item disabled" id="Week-3">
            <a class="page-link" href="/users/userhome/ignite/week{{ math this "+" this }}" aria-disabled="true" onclick="tabPreview('Week',3);">Week {{ math this "+" 1 }}</a>
          </li>
        {{/iff }}
      <!--<li class="page-item disabled" id="Week-2"><a class="page-link" href="/users/userhome/ignite/week2" aria-disabled="true" onclick="tabPreview('Week',2);">Week 2</a></li>
      <li class="page-item disabled" id="Week-3"><a class="page-link" href="/users/userhome/ignite/week3" aria-disabled="true" onclick="tabPreview('Week',3);">Week 3</a></li>
      <li class="page-item disabled" id="Week-4"><a class="page-link" href="/users/userhome/ignite/week4" aria-disabled="true"  onclick="tabPreview('Week',4);">Week 4</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>-->
      {{/times}}
    </ul>
  </nav>
    <nav aria-label="Page navigation example" id="day-nav">
      <ul class="pagination justify-content-center">
        {{#times dayCount}}
          {{#iff ../currentDay '>=' (math this "+" 1)}}
            <li class="page-item">
              <a class="page-link" href="/users/userhome/ignite/week{{ ../currentWeek }}/day{{ math this "+" 1 }}" id="Week-1" onclick="tabPreview('Week',1);">Day {{ math this "+" 1 }}</a>
            </li>
          {{else}}
            <li class="page-item disabled" id="Week-3"><a class="page-link" href="/users/userhome/ignite/week{{ ../currentWeek }}/day{{ math this "+" 1 }}" aria-disabled="true" onclick="tabPreview('Week',3);">Day {{ math this "+" 1 }}</a></li>
          {{/iff }}
        <!--<li class="page-item disabled" id="Week-2"><a class="page-link" href="/users/userhome/ignite/week2" aria-disabled="true" onclick="tabPreview('Week',2);">Week 2</a></li>
        <li class="page-item disabled" id="Week-3"><a class="page-link" href="/users/userhome/ignite/week3" aria-disabled="true" onclick="tabPreview('Week',3);">Week 3</a></li>
        <li class="page-item disabled" id="Week-4"><a class="page-link" href="/users/userhome/ignite/week4" aria-disabled="true"  onclick="tabPreview('Week',4);">Week 4</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>-->
        {{/times}}
        <!--{{#if day }}
          <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="/users/userhome/ignite/week{{ week }}/day{{ day }}" onclick="tabPreview('day',1);">Day 1</a>
          </li>
          <li class="page-item disabled" id="day-2"><a class="page-link" href="flexbox-page.php?day=2" onclick="tabPreview('day',2);">Day 2</a></li>
          <li class="page-item disabled" id="day-3"><a class="page-link" href="flexbox-page.php?day=3" onclick="tabPreview('day',3);">Day 3</a></li>
          <li class="page-item disabled" id="day-4"><a class="page-link" href="#" onclick="tabPreview('day',4);">Day 4</a></li>
          <li class="page-item disabled" id="day-5"><a class="page-link" href="#" onclick="tabPreview('day',5);">Day 5</a></li>
        {{/if}}-->
        </ul>
      </nav>
      </div>
  <div class="container">
    {{#each titleAndIds}}
      {{#iff this.id '<=' ../currentTitle_id}}
        
        <div class="row h-auto border 5px">

        <div class="col-md-9 justify-content-center"><b>Title</b></div>
        <div class="col-md-9 justify-content-center" id="title"> {{ this.title }}</div>
      
        <div class="col-md-2 justify-content-center">
          <a class="btn btn-primary" href="/users/userhome/ignite/week{{ ../url_week }}/day{{ ../url_day }}/video{{ this.id }}" role="button">View</a>
        </div>
        </div>
      {{else}}
        <div class="row h-auto border 5px">

        <div class="col-md-9 justify-content-center"><b>Title</b></div>
        <div class="col-md-9 justify-content-center" id="title"> {{ this.title }}</div>
      
        <div class="col-md-2 justify-content-center">
          <a class="btn btn-primary disabled" href="/users/userhome/ignite/week{{ ../url_week }}/day{{ ../url_day }}/video{{ this.id }}" role="button">View</a>
        </div>
        </div>
    {{/iff}}
    {{/each}}
    {{#iff quiz '==' 1}}
      <div class="row h-auto border 5px">
        <div class="col-md-9 justify-content-center"><b>Quiz</b></div>
        <div class="col-md-9 justify-content-center" id="title"> Take Quiz-{{ url_day }}</div>
      
        <div class="col-md-2 justify-content-center">
          <a class="btn btn-primary" href="/users/userhome/ignite/week{{ url_week }}/day{{ url_day }}/quiz{{ url_day }}" role="button">View</a>
        </div>
        </div>
    {{/iff}}
</div>
            
              <!--<div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Title</th>
                      <th scope="col">View</th>
                    </tr>
                  </thead>
                  {{#each data }}
                      <tbody>
                      <tr>
                        <th scope="row">{{ data.id }}</th>
                        <td>{{ data.title }}</td>
                        <td>{{ data.src }}</td>
                      </tr>
                    </tbody>
                  {{/each }}
                  
                </table>
              </div>-->
            
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/bootstrap/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/static/bootstrap/js/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script> 