<table class="table table-bordered table-hover text-center container">
    <thead class="thead-dark">
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Name of student</th>
            <th scope="col">Email Id</th>
            <th scope="col">Course</th>
            <th scope="col">Week</th>
            <th scopr="col">Cumulative Score</th>
            <th scope="col">Paid</th>
        </tr>
    </thead>
    <tbody>
        {{#if results}}
        {{#each results}}
        <tr>
            <th scope="row">{{inc @index}}</th>
            <td>{{Name}}</td>
            <td>{{email}}</td>
            <td>
                <div class="p-1 bg-light font-weight-bold text-center text-uppercase">
                    {{course}}
                </div>
            </td>
            <td>
                <div class="p-1 bg-light font-weight-bold text-center text-uppercase">
                    {{week}}
                </div>
            </td>
            <td>
                <div class="p-1 bg-light font-weight-bold text-center text-uppercase">
                    {{quiz_cumulative_score}}
                </div>
            </td>
            <td>
                <svg class="bi bi-check-circle text-success" width="2em" height="2em" viewBox="0 0 16 16"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path fill-rule="evenodd"
                        d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                </svg>
            </td>
        </tr>
        {{/each}}
        {{/if}}
    </tbody>
</table>

<div class="row">
    <div class="text-left">
    <form action="/admin/not_paid_user_data" method="GET">
        <div class="col">
            <button type="submit" class="btn btn-danger">NOT PAID USER DETAILS</button>
        </div>
    </form>
    </div>
    <div class="text-right">
    <form action="/admin/change_week_for_all_students" method="POST">
        <div class="form-row">
            <select id="inputState" class="btn btn-light" name="weekChange">
                <option value=1>week 1</option>
                <option value=2>week 2</option>
                <option value=3>week 3</option>
                <option value=4>week 4</option>
            </select>
            <div class="col">
                <button type="submit" class="btn btn-primary">CHANGE WEEK</button>
            </div>
        </div>
    </form>
    </div>
</div>