<!--<div class="jumbotron bg-white border">
    <h1 class="display-4">QUIZ</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>-->
<div class="container">
    <h1 class="display-4 text-center">QUIZ {{ day }}</h1>
    {{#each quiz_data }}
    <form action="/users/userhome/ignite/week:{{../currentWeek}}/day{{../currentDay }}/quiz" method="post"></form>
    <div class="form-check">
        <h1 class="display">{{ this.id }}.{{ this.question }}</h1></br>
        <input class="form-check-input" type="radio" name="{{ }}" id="exampleRadios1" value="{{ this.A}}">
        <label class="form-check-label" for="exampleRadios1">
            {{ this.A }}
        </label></br>
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="{{ this.B }}">
        <label class="form-check-label" for="exampleRadios1">
            {{ this.B }}
        </label></br>
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="{{ this.C }}">
        <label class="form-check-label" for="exampleRadios1">
            {{ this.C }}
        </label></br>
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="{{ this.D }}">
        <label class="form-check-label" for="exampleRadios1">
            {{ this.D }}
        </label></br><hr>
    </div>
    <form>
    {{/each}}
</div>
